body {
  font-family: "Lucida Console", "Courier New", monospace;
  background: #a0c8ef;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box{
  background: rgb(171, 94, 244);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  text-align: center;
  width: 1000px;
}

.quiz-image {
  width: 300px;
  margin-bottom: 1rem;
}

.answer-btn {
  display: block;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  width: 80%;
  background: #a60681;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-btn:disabled {
  cursor: default;
  opacity: 0.8;
}

.correct {
  background-color: #4CAF50
}

.incorrect {
  background-color: #f44336 
}

#timer {
  margin-top: 1rem;
  font-weight: bold;
}

#score {
  margin-top: 1rem;
  font-size: 1.1rem;
}
